@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

:root {
  --black: #102A43;
  --gray-dark: #1A2530;
  --white: #F8F9FA;
  --gray-light: #CBD5E1;
  --primary: #1F9E92;
  --neutral: #313b45;
}

html {
  font-family: "Red Hat Display", sans-serif;
  background: var(--gray-dark);
}